*{
    margin:0;
    padding:0;
}
.nav h1{
    border: 2px solid black;
    background-color: rgb(161, 156, 156);
    line-height: 50px;
}
.menu .heading{
    text-align: center;
    padding: 30px;
}
.box{
    border: 2px solid black;
    margin:6px;
    background-color: rgb(180, 177, 177);
}
.box p{
    padding: 4px;
}
.container{
    display: inline-block;
    position:relative;
}
.container h3{
    text-align: center;
}
.bar #check-btn{
    float: right;
    margin:-48px 10px 0px 0px;
    font-size: 40px;
    cursor: pointer;
    display: none;
}
.menu-items li{
    border: 2px solid black;
    display: block;
    width: 100vw;
    line-height: 30px;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}
.bar #check{
    display: none;
}
#check:checked ~ ul{
    left: 0%;
}
@media(max-width:820px) and (min-width:720px){
    .bar #check-btn{
        display: block;
    }
    .item ul{
        width: 100%;
    }
    .bar ul{
        display: block;
        position: fixed;
        top:50px;
        left: -101%;
    }
    .menu{
        position:fixed;
        top:27%;
    }

}